.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Half slider: https://startbootstrap.com/snippets/half-slider/ 

.carousel-item {
    height: 50%;
    min-height: 50%;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

*/

.item-1 {
  background-image: url('../img/landscape/oviedo-dominican-republic-14582.jpg');
}