.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Half slider: https://startbootstrap.com/snippets/half-slider/ 

.carousel-item {
    height: 50%;
    min-height: 50%;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

*/

.my-carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  background-color: #ffffffaa;
  /*
  filter: blur(8px);
  -webkit-filter: blur(8px);
  */
}

/*
.display-caption {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  color: black;
}
*/

.display-5 {
  font-size: calc(1.375rem + 2.1vw);
  /* text-align: justify; */
  margin: 2%;
}

.author {
  font-size: calc(1.25rem + 0.3vw);
  color: black;
  margin-right: 5%;
  text-align: right;
}

.item-1 {
  background-image: url('../img/landscape/atar-mauritania-14072.jpg');
}

.item-2 {
  background-image: url('../img/landscape/oviedo-dominican-republic-14582.jpg');
}

.item-3 {
  background-image: url('../img/landscape/riyadh-province-saudi-arabia-14575.jpg');
}