html,
body {
  height: 100%;
  /* font-family: 'Oswald', sans-serif !important; */
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

/* Half slider: https://startbootstrap.com/snippets/half-slider/ */
.carousel-item {
  height: 50%; /*65vh;*/
  min-height: 50%; /* 350px; */
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.footer-gb{
  margin-top: 5%;
  background-color: #0062E6;
}

.y-gb {
  background-color: #ffff00;
}

.title {
  padding-top: 5%;
}

.margin-120 {
  margin-top:120px;
}

.body-color {
  background-color: #90d6e7;
}

/* https://stackoverflow.com/questions/44467377/bootstrap-4-multilevel-dropdown-inside-navigation */
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}

.c {
  margin: auto;
  padding: 10px;
}

/* filter list */
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('../img/svg/search-outline.svg');
  /* background-position: 10px 12px; */
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}