html,
body {
  height: 100%;
  /* font-family: 'Oswald', sans-serif !important; */
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

/* Other Classes for Page Styling */
body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

/* Half slider: https://startbootstrap.com/snippets/half-slider/ */
.carousel-item {
  height: 50%; /*65vh;*/
  min-height: 50%; /* 350px; */
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
