html, body {
  height: 100%;
  /* font-family: 'Oswald', sans-serif !important; */
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

.footer-gb {
  margin-top: 5%;
  background-color: #0062E6;
}

.y-gb {
  background-color: #ffff00;
}

.title {
  padding-top: 5%;
}

.margin-120 {
  margin-top: 120px;
}

.header-margin {
  /* look at the nav height using the inspector */
  margin-top: 106px;
}

.body-color {
  background-color: #90d6e7;
}

/* https://stackoverflow.com/questions/44467377/bootstrap-4-multilevel-dropdown-inside-navigation */

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}

.c {
  margin: auto;
  padding: 10px;
}

.t-black {
  color: black;
}